
.container {
  text-align: center;
}

$light-gray: #9B9B9B;
$yellow-project: #FFE500;
$black-project: #2B2B2B;
$light-white: rgba(244, 244, 244, 0.8);
.header-row {
  .logo-img {
    max-width: 130px;
    width: 100%;
  }

  .header-menu {
    display: flex;
    //justify-content: space-between;
    align-items: center;
    height: 100%;

    .nav-menu {
      display: flex;
      justify-content: space-between;
      list-style: none;
      margin: 0;
      padding: 0;
      line-height: normal;
      direction: ltr;
      text-align: left;
      vertical-align: middle;
      width: 100%;


      .close-btn {
        margin: 0;
        padding: 20px calc(var(--bs-gutter-x) * 0.3);
        font-size: 16px;
        color: #D3D3D3;
        font-weight: 700;
        text-transform: uppercase;
        border-bottom: 1px solid $yellow-project;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .language-mob {
          display: flex;
          justify-content: space-between;

          p {
            font-family: "Montserrat";
            color: #D3D3D3;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: 0.16px;
            //padding: 0 10px 0 0;
            //border-right: 1px solid #D3D3D3;;
          }

          .active {
            color: $yellow-project;
          }

          .line {
            width: 1px;
            background-color: #D3D3D3;

            &:last-child {
              display: none;
            }
          }
        }

        .mobile-back {
          &:hover {
            color: white;
          }
        }

      }


    }


    a {
      color: #59595B;
      //font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 0.16px;
    }

    .active-link {
      color: #E8BA4E;
    }

  }

  img {
    display: flex;
    justify-content: start;
  }

  .header-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    .login {
      padding: 8px 24px;
      border-radius: 16px;
      background-color: transparent;
      color: #59595B;
      font-size: 16px;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 0.16px;
      text-transform: capitalize;
    }

    .register {
      padding: 8px 24px;
      border-radius: 16px;
      background-color: #E8BA4E;
      color: #FFF;
      font-size: 16px;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 0.16px;
      text-transform: capitalize;
    }
  }


}


.calculation-section {
  background-image: url(/assets/images/backgroundbitcoin.png);
  background-size: 100%;
  //background-position: center;
  background-repeat: no-repeat;
  display: block;
  padding-top: calc(20px + (220 - 120) * ((100vw - 320px) / (1920 - 320)));
  background-color: $black-project;
  //height: 800px;


  .calculation-banner {
    position: relative;

    img {
      position: absolute;
      max-width: 648px;
      width: 100%;
      left: 0;
    }

    .buttons {
      display: flex;
      position: relative;
      left: 45px;
      top: 4px;

      .center-div {
        border-right: 1px solid #3F3F3F;
        border-left: 1px solid #3F3F3F;
      }

      .custom-button {
        //max-width: 106px;
        max-width: 160px;
        width: 100%;
        height: 36px;
        overflow: hidden;
        position: relative;

        .left-button-area {
          transform: skewX(-45deg);
          transform-origin: bottom left;

          //h5 {
          //  font-size: 18px;
          //  color: black !important;
          //}

          p {
            transform: skewX(45deg);
          }
        }

        .right-button-area {
          transform: skewX(45deg);
          transform-origin: bottom left;

          p {
            transform: skewX(-45deg);
          }

        }

        .button-area {
          width: 100%;
          height: 100%;
          background-color: $light-gray;
          position: absolute;
          overflow: hidden;
          cursor: pointer;
          align-items: center;
          display: flex;
          justify-content: center;
          //&:hover {
          //  background-color: $yellow-project;
          //}
          p {
            font-weight: 700;
            color: black;
          }

        }

        .selected {
          background-color: $yellow-project;
        }
      }
    }

    .custom-row-form {
      padding: 30px 70px;
      position: relative;
      display: grid;
      gap: 32px;

      .change-img {
        max-width: 56px;
        left: auto;
        right: 18%;
        top: 52%;
        cursor: pointer;
      }

      .form-section {
        .form-label {
          display: flex;
          margin-left: calc(12px + 12 * (100vw - 320px) / 1600);
          margin-bottom: 12px;
          color: white;
          font-size: 18px;
          font-weight: 400;
        }

        .short-text {
          width: 200px;
          height: 36px;
          border-radius: 8px
        }

        .form-main-height {
          height: 40px;
        }

        .form-main {
          display: flex;
          //overflow: hidden;
          align-items: center;


          .long-text {
            width: 300px;
            height: 60px;
            border-radius: 8px
          }

          .circular-skeleton {
            position: absolute;
            right: 19%;
          }

          svg {
            font-size: 20px;
            color: white;
            margin-right: 4px;
          }


          input::-webkit-outer-spin-button,
          input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }

          /* Firefox */
          input[type=number] {
            -moz-appearance: textfield;
          }

          .form-control-custom {
            max-width: 380px;
            width: 100%;
            background-color: #282828;
            border-radius: 16px;

            border: none;
            box-shadow: none;
            height: fit-content;
            padding: calc(8px + 4 * (100vw - 320px) / 1600) calc(12px + 12 * (100vw - 320px) / 1600);

            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
              color: rgba(244, 244, 244, 0.8);
              opacity: 1; /* Firefox */
            }

            &:-ms-input-placeholder { /* Internet Explorer 10-11 */
              color: $light-white;
            }

            &::-ms-input-placeholder { /* Microsoft Edge */
              color: $light-white;
            }

          }

          input, select, textarea {
            color: $light-white;
          }
        }
      }
    }

    input::placeholder {
      font-size: 18px;
      font-weight: 400;
    }

    .custom-single-button {
      position: absolute;
      max-width: 252px;
      width: 100%;
      height: 38px;
      top: 307px;
      right: 2.5%;

      .button-area {
        background-color: #454545;

        position: absolute;
        overflow: hidden;
        cursor: pointer;
        transform: skewX(-45deg);
        align-items: center;
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100%;

        h5 {
          transform: skewX(45deg);
          font-weight: 700;
          font-family: "Titillium Web";
          color: white;
          font-size: 18px !important;
        }
      }

      .active {
        background-color: $yellow-project;
        color: black;

        h5 {
          color: black !important;
        }
      }
    }
  }

  .crypto-title-section {
    //max-width: 420px;
    padding: 10px;

    h2 {
      font-weight: 700;
      font-family: "Montserrat Alternates";
      font-style: normal;
      line-height: 111.6%;
      letter-spacing: 0.54px;
      margin-bottom: 14px;

      span {
        color: $yellow-project;
      }
    }

    p {
      color: $light-white !important;
      text-align: left;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
      letter-spacing: 0.18px;
    }
  }

  .icons-info {
    margin-top: calc(40px + (200 - 120) * ((100vw - 320px) / (1920 - 320)));
    padding: calc(24px + (200 - 120) * ((100vw - 320px) / (1920 - 320))) 0;

    h4 {
      font-family: Titillium Web;
      line-height: 34px;
    }

    p {
      text-align: center;
      font-weight: 600;
      line-height: 20px;
      margin: 0 auto;
      max-width: 276px;
    }

    img {
      max-width: 100px;
      max-height: 100px;
    }
  }
}

.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 648px;
  width: 100%;
  background-color: #3F3F3F;
  //border: 2px solid #000;
  padding: 40px;
  border-radius: 16px;
  overflow-y: auto;
  max-height: 100%;
  //height: auto;

  .single-transaction {
    background-color: #292929;
    padding: 12px;
    display: grid;
    gap: 12px;

    p {
      font-size: 14px;
      line-height: normal;
      letter-spacing: 0.14px;

      span {
        color: white;
        font-weight: 500;
      }
    }
  }

  .close-button {
    color: white;
    min-width: 0;
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0;

    &:hover {
      color: rgba(255, 255, 255, 0.5);
      background-color: transparent;
    }
  }

  h5 {
    //font-family: "Montserrat";
    font-weight: 700 !important;
    line-height: normal;
    letter-spacing: 0.24px;
    padding-bottom: 16px;
    border-bottom: 1px solid $yellow-project;
    margin-bottom: 16px !important;
  }

  .modal-desc {
    //padding-bottom: 48px;
    font-size: 12px;
    font-family: "Montserrat";
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.12px;
    color: #D3D3D3;
  }

  .modal-exchange-button {
    width: 100%;
    padding: 10px 24px;
    border-radius: 16px;
    background-color: #292929;
    //background-color: $yellow-project;
    color: #C9C9C9 !important;
    font-size: 20px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.2px;
    margin-top: 26px;
    //color: black;
  }

  .active {
    background-color: $yellow-project;
    color: black !important;
  }

  .form {
    padding: 20px 0;

    .form-row {
      gap: 10px 0;

      .password-input-container {
        position: relative;

        .password-toggle-icon {
          position: absolute;
          color: #D3D3D3 !important;
          top: 25%;
          right: 10%;
        }
      }

      label {
        color: #D3D3D3 !important;
        font-size: 14px;
        line-height: normal;
        letter-spacing: 0.14px;
      }

      .modal-input {
        padding: 10px 24px;
        border-radius: 16px;
        background-color: #292929;
        color: #D3D3D3;
        border: none;
        width: 100%;

        &:focus {
          box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.1);
        }

        &:-webkit-autofill {
          /* Add your custom styles here */
          background-color: #292929 !important;
        }

        //&:focus-visible {
        //  box-shadow:none!important;
        //}

        &::placeholder {
          color: #D3D3D3;
          background-color: #292929 !important;
        }
      }
    }
  }

}

.exchange-steps-section {
  //background-image: url(/assets/images/1.png);
  background-size: contain;
  //background-position: center;
  background-repeat: no-repeat;
  display: block;
  padding: 80px 0;
  background-color: $black-project;

  .line-section {
    display: flex;
    justify-content: center;
    align-items: center;

    .dot {
      height: 16px;
      max-width: 16px;
      width: 100%;
      background-color: $yellow-project;
      border-radius: 50%;
      display: inline-block;
    }

    .long-line {
      max-width: 376px;
      width: 100%;
      height: 12px;

    }

    .yellow {
      background-color: rgba(255, 229, 0, 0.5);
      box-shadow: -5px 0px 0px 0px rgba(255, 229, 0, 0.5), 5px 0px 0px 0px rgba(255, 229, 0, 0.5);
    }

    .gray {
      background-color: rgba(245, 245, 245, 0.5);
      box-shadow: -5px 0px 0px 0px rgba(245, 245, 245, 0.5), 5px 0px 0px 0px rgba(245, 245, 245, 0.5);
    }

    div:last-child {
      background-color: white;
      border: 3px solid $yellow-project;
    }
  }

  h3 {
    //text-align: left;
    font-family: Titillium Web;
    line-height: 70px;

    span {
      color: $yellow-project;
    }
  }

  .line-text-section {
    display: flex;
    justify-content: center;
    //padding: 30px 52px;

    .line-text {
      display: flex;
      max-width: 398px;
      width: 100%;
      position: relative;

      .dot {
        height: 25px;
        max-width: 25px;
        width: 100%;
        background-color: #F5F5F5;
        border-radius: 50%;
        display: inline-block;
        margin-right: 8px;
        font-family: "Titillium Web";
        font-weight: 700;
        font-size: 16px;
      }
    }
  }

  .slider-coins {
    display: flex !important;
    flex-direction: column;
    align-items: center;


    img {
      max-width: 80px;
      width: 100%;
      margin-bottom: 24px;
    }

    h5 {
      margin-bottom: 12px !important;
    }
  }


  .simply {
    h3 {
      font-family: "Montserrat Alternates";
      font-weight: 700 !important;
      margin-bottom: calc(16px + (140 - 100) * ((100vw - 320px) / (1920 - 320))) !important;

      span {
        color: $yellow-project;
      }
    }
  }
}

.slick-prev:before {
  content: '<' !important;
  font-family: monospace;
  font-size: 30px;
  color: $yellow-project;
}

.slick-next:before {
  content: '>' !important;
  font-family: monospace;
  font-size: 30px;
  color: $yellow-project;
}

.faq-section {
  background-image: url(/assets/images/2.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $black-project;
  padding: calc(20px + (220 - 180) * ((100vw - 320px) / (1920 - 320))) 0 calc(32px + (260 - 180) * ((100vw - 320px) / (1920 - 320))) 0;

  .accordion-item {
    background-color: transparent;
    border: none;

    .accordion-button {
      background-color: transparent;
      padding: 24px 0;
      border-radius: 0 !important;

      &:focus {
        border-color: $yellow-project;
        box-shadow: none;
      }

      &::after {
        background-image: url(/assets/images/accordionButton.svg);
      }

      &:not(.collapsed) {
        background-color: transparent;

        &::after {
          background-image: url(/assets/images/accordionButton.svg);
        }
      }

      border-bottom: 2px solid $yellow-project;

      h5 {
        font-family: "Titillium Web";
        font-weight: 700;
      }
    }
  }

  h3 {
    font-family: 'Montserrat';
    color: $yellow-project !important;
    margin-bottom: 24px !important;
  }

  .accordion-collapse {
    background-color: transparent;
  }
}

.partners-section {
  background-image: url(/assets/images/2.png);
  background-size: 100%;
  //background-position: center;
  background-repeat: no-repeat;
  display: block;
  padding: calc(22px + (260 - 120) * ((100vw - 320px) / (1920 - 320))) 0;
  background-color: $black-project;

  h3 {
    margin-bottom: 36px !important;

    span {
      color: $yellow-project;
    }
  }

  .slider-partners {
    display: flex !important;
    align-items: center;
    height: 100%;

    img {
      margin: 0 auto;
    }
  }
}

.footer {
  background-color: $black-project;
  padding: 40px 0;

  .footer-logos-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    gap: 20px;
  }

  .info-pages {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;

    .active-link {
      color: #E8BA4E;
    }

    p {
      line-height: 174%;
      letter-spacing: 0.2px;
    }
  }

  .information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    h3 {
      font-size: 36px !important;
      text-align: left;
      //color: $yellow-project !important;
      span {
        color: #E8BA4E;
      }
    }

    p {
      font-size: 18px;
      letter-spacing: 0.2px;
      font-weight: 700;
      color: white;
      margin-bottom: 4px !important;

      span {
        color: #E8BA4E;
      }
    }

    .email-phone {
      text-align: left;
      font-size: 18px;
      letter-spacing: 0.2px;
      font-weight: 700;
      color: white;

      a {
        color: white;
        text-decoration: none !important;

        &:hover {
          color: #E8BA4E;
        }
      }
    }
  }
}

.single-partners-section {
  background-image: url(/assets/images/backgroundbitcoin.png);
  background-size: 100%;
  //background-position: center;
  background-repeat: no-repeat;
  display: block;
  padding-top: calc(20px + (220 - 120) * ((100vw - 320px) / (1920 - 320)));
  background-color: $black-project;

  .partners-main-div {
    border-radius: 10px;
    border: 4px solid #3F3F3F;
    background: #4F4F4F;
    padding: 40px;
    gap: 16px;
    display: grid;
    justify-content: center;
    //height: 100px;
    p {
      //text-align: center;
      height: 50px;
      margin: 0 auto;
    }

    .partners-img-div {
      min-height: 56px;

      img {
        max-height: 56px;
        margin: 0 auto;
      }
    }

  }
}

.button-partners {
  //display: flex;
  padding: 8px 24px;
  max-width: 156px;
  width: 100%;
  border-radius: 16px;
  background-color: $yellow-project;
  font-size: 16px;
  font-family: "Montserrat";
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.16px;
  margin: 0 auto;
}

.gallery-section {
  background-image: url(/assets/images/1.png);
  background-size: cover;
  //background-position: center;
  background-repeat: no-repeat;
  display: block;
  padding: calc(20px + (220 - 120) * ((100vw - 320px) / (1920 - 320))) 0 calc(32px + (260 - 120) * ((100vw - 320px) / (1920 - 320))) 0;
  background-color: $black-project;

  h3 {
    color: $yellow-project !important;
    text-align: center;
    padding-bottom: 32px;
  }

  .gallery-img {
    min-height: auto;

    img {
      max-height: 460px;
      width: 100%;
    }
  }
}

.icons-gallery {
  //background-image: url(/assets/images/2.png);
  //background-size: contain;
  //background-position: center;
  background-repeat: no-repeat;
  display: block;
  background-color: $black-project;
  padding-bottom: calc(32px + (260 - 120) * ((100vw - 320px) / (1920 - 320)));
}

.language-section {
  display: flex;
  justify-content: end;


  .css-aoxytf-singleValue {
    .country-option {
      justify-content: end !important;

      p {
        display: none;
      }

      img {
        //width: 100%;
      }
    }
  }
}

.css-1u9des2-indicatorSeparator {
  display: none;
}

.form-main {
  .css-aoxytf-singleValue {
    .country-option {
      //p {
      //  display: none;
      //}
      //img {
      //  display: none;
      //}
    }
  }
}

.contact-us-section {
  background-image: url(/assets/images/backgroundbitcoin.png);
  background-size: 100%;
  //background-position: center;
  background-repeat: no-repeat;
  background-color: $black-project;
  display: block;
  padding-top: calc(20px + (220 - 120) * ((100vw - 320px) / (1920 - 320)));

  h3 {
    color: $yellow-project !important;
    text-align: center;
    padding-bottom: 32px;
    font-family: Titillium Web;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.48px;
  }

  h4 {
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.28px;

    a {
      color: white;

      &:hover {
        color: $yellow-project;
      }
    }
  }

  .contact-form {
    padding: 64px 0;

    .contact-col {
      text-align: left;

      p {
        color: #FFFFFF;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.24px;
      }

      input {
        background-color: transparent;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid #FFFFFF;
        color: #FFFFFF;

        &:focus {
          box-shadow: none;
        }
      }
    }
  }

  .contact-button {
    display: flex;
    justify-content: end;

    button {
      background-color: $yellow-project;
      color: $black-project;
      max-width: 220px;
      width: 100%;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.2px;
      border-radius: 16px;
      padding: 12px 0;
    }
  }
}

.faq-single {
  //background-image: url(/assets/images/2.png);
  //background-size: 100%;
  //background-position: center;
  //background-repeat: no-repeat;
  display: block;
  padding: calc(20px + (220 - 120) * ((100vw - 320px) / (1920 - 320))) 0 calc(32px + (260 - 120) * ((100vw - 320px) / (1920 - 320))) 0;
}


@media screen and (max-width: 1399px) {
  .calculation-section {
    .calculation-banner {
      .buttons {
        left: 39px;
        top: 3px;

        .custom-button {
          //max-width: 91px;
          max-width: 136px;
          height: 30px;

          .button-area {
            p {
              font-size: 14px;
            }
          }
        }
      }

      .custom-row-form {
        padding: 20px 50px;
        gap: 24px;

        .change-img {
          right: 16%;
        }

        .form-section {
          //overflow: hidden;
          .form-label {
            font-size: 14px;
          }

          .form-main {
            input {
              font-size: 14px;

              &::placeholder {
                font-size: 14px;
              }
            }
          }
        }
      }

      .custom-single-button {
        top: 263px;
        max-width: 217px;
        height: 34px;

        .button-area {
          h5 {
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .toggle-nav {
    display: none;
  }

}

@media screen and (max-width: 1199px) {
  .header-row {
    .nav-menu-overlay {
      &::before {
        content: "";
        background-color: rgba(0, 0, 0, 0.5); /* Adjust the background color and opacity as needed */
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10; /* Adjust the z-index value as needed */
      }

    }

    .country {
      display: none;
    }

    .menu {
      order: 4;
      display: flex;
      justify-content: end;
    }

    .buttons {
      order: 3;
    }

    .header-menu {
      .nav-menu {
        display: inline-block;
        position: fixed;
        background-color: #3F3F3F;
        width: 280px;
        height: 100vh;
        border-radius: 0;
        top: 0;
        right: -300px;
        z-index: 99;
        transition: all 0.3s ease;
        overflow-y: scroll;
        overflow-x: hidden;

        > li {
          &:not(:first-child) {
            border-bottom: 1px solid #292929;
            //margin-bottom: 10px;
            padding: 16px 20px;
          }

          a {
            color: #D3D3D3;
            //padding: 10px 15px;
            //position: relative;
          }

          .active-link {
            color: white;
          }
        }
      }
    }

    .out-button {
      display: none;
    }
  }

  .calculation-section {
    .calculation-banner {
      .buttons {
        .custom-button {
          //max-width: 89px;
          max-width: 133px;

          height: 29px;

        }
      }

      .custom-single-button {
        top: 258px;
        max-width: 212px;
        height: 32px;
      }
    }
  }
}

@media screen and (max-width: 991px) {

  .single-partners-section {
    background-size: cover;
  }
  .calculation-section {
    background-size: cover;
    background-position: center; /* Shifting 20 pixels to the right */
    .cart {
      order: 2; /* Change the order of the column (move it to the first position) */
      .calculation-banner {
        .buttons {
          left: 46px;

          .custom-button {
            //max-width: 108px;
            max-width: 162px;
            height: 36px;

            .button-area {
              p {
                font-size: 18px;
              }
            }
          }
        }

        .custom-row-form {
          padding: 30px 60px;
          gap: 32px;

          .change-img {
            right: 25%;
          }

          .form-section {
            .form-label {
              font-size: 18px;
            }

            .form-main {
              .circular-skeleton {
                position: absolute;
                right: 26%;
              }

              input {
                font-size: 18px;

                &::placeholder {
                  font-size: 18px;
                }
              }
            }
          }
        }

        .custom-single-button {
          right: 9%;
          max-width: 258px;
          height: 38px;
          top: 312px;

          .button-area {
            h5 {
              font-size: 18px;
            }
          }
        }
      }

    }

    .info {
      padding-bottom: 30px;
      order: 1; /* Change the order of the column (move it to the second position) */
    }

    .icons-info {
      margin-top: 120px;
    }
  }
}

@media screen and (max-width: 767px) {
  .calculation-section {
    .crypto-title-section {
      p {
        font-size: 16px;
      }
    }

    .cart {
      order: 2; /* Change the order of the column (move it to the first position) */
      .calculation-banner {
        .buttons {
          left: 35px;

          .custom-button {
            //max-width: 87px;
            max-width: 131px;
            height: 30px;

            .button-area {
              p {
                font-size: 14px;
              }
            }
          }
        }

        .custom-row-form {
          padding: 20px 50px;
          gap: 24px;

          .change-img {
            max-width: 52px;
            right: 18%;
          }

          .form-section {
            .form-label {
              font-size: 14px;
            }

            .short-text {
              width: 160px;
              height: 32px;
              border-radius: 8px
            }

            .form-main {

              .long-text {
                width: 260px;
                height: 50px;
              }

              .circular-skeleton {
                right: 20%;
                width: 38px !important;
                height: 38px !important;
              }

              input {
                font-size: 14px !important;

                &::placeholder {
                  font-size: 14px !important;
                }
              }
            }
          }
        }

        .custom-single-button {
          right: 3%;
          max-width: 202px;
          height: 30px;
          top: 249px;

          .button-area {
            h5 {
              font-size: 16px !important;
            }
          }
        }
      }

    }
  }

  .exchange-steps-section {

    h3 {
      line-height: 40px;
    }
  }
  .contact-us-section {

    .contact-form {
      .contact-col {

        p {
          font-size: 18px;
        }

        input {
          font-size: 16px;
        }
      }
    }

    .contact-button {


      button {
        font-size: 18px;
        padding: 10px 0;
      }
    }
  }

}


@media screen and (max-width: 575px) {
  .calculation-section {
    .cart {
      order: 2; /* Change the order of the column (move it to the first position) */
      .calculation-banner {
        margin: 0 auto;
        max-width: 480px;

        img {
          position: absolute;
          max-width: 100%;
        }

        .buttons {
          left: 34px;

          .custom-button {
            //max-width: 80px;
            max-width: 120px;
            height: 27px;

            .button-area {
              p {
                font-size: 12px;
              }
            }
          }
        }

        .custom-row-form {
          padding: 14px 40px;
          gap: 22px;

          .change-img {
            right: 17%;
          }

          .form-section {
            .form-label {
              font-size: 12px;
            }

            .form-main {
              input {
                font-size: 12px !important;

                &::placeholder {
                  font-size: 12px !important;
                }
              }
            }
          }
        }

        .custom-single-button {
          max-width: 187px;
          height: 28px;
          top: 231px;

          .button-area {
            h5 {
              font-size: 14px !important;
            }
          }
        }
      }
    }

    .icons-info {
      p {
        font-size: 12px !important;
      }

      img {
        max-width: 80px;
        max-height: 80px;
      }
    }
  }

  .footer {
    .information {
      h3 {
        font-size: 30px !important;
      }

      p {
        font-size: 16px;
      }

      .email-phone {
        font-size: 16px;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .calculation-section {

    .crypto-title-section {
      p {
        //font-size: 14px;
      }
    }

    .cart {
      order: 2; /* Change the order of the column (move it to the first position) */
      .calculation-banner {
        margin: 0 auto;
        max-width: 360px;

        img {
          position: absolute;
          max-width: 100%;
        }

        .buttons {
          top: 2px;
          left: 26px;

          .custom-button {
            //max-width: 60px;
            max-width: 90px;
            height: 20px;

            .button-area {
              p {
                font-size: 10px;
              }
            }
          }
        }

        .custom-row-form {


          padding: 10px 26px;
          gap: 16px;

          .change-img {
            top: 49%;
            right: 10%;
            max-width: 46px;
          }

          .form-section {
            .form-label {
              font-size: 10px;
              margin-bottom: 2px;

            }

            .short-text {
              width: 120px;
              height: 28px;
            }

            .form-main-height {
              height: 22px;
            }

            .form-main {
              .long-text {
                width: 200px;
                height: 40px;
                border-radius: 8px
              }

              .circular-skeleton {
                width: 32px !important;
                height: 32px !important;
              }

              .css-195jymh-control {
                width: 100px;
              }

              input {
                border-radius: 8px;
                font-size: 10px !important;

                &::placeholder {
                  font-size: 10px !important;
                }
              }

              .country-option {
                min-height: 32px !important;

                img {
                  max-height: 32px !important;
                }
              }
            }
          }
        }

        .custom-single-button {
          max-width: 140px;
          height: 20px;
          top: 174px;

          .button-area {
            h5 {
              font-size: 12px !important;
            }
          }
        }
      }
    }

    .icons-info {
      margin-top: calc(80px + (240 - 120) * ((100vw - 320px) / (1920 - 320)));

      img {
        max-width: 60px;
        max-height: 60px;
      }
    }
  }
  .exchange-steps-section {

    .simply {
      p {
        //font-size: 14px !important;
      }
    }

    .line-text-section {
      display: grid;
      gap: 10px;
      justify-content: inherit;


      .line-text {
        //display: block;
        //text-align: left;
        left: 0 !important;

        .dot {
          text-align: center;
          height: 20px;
          max-width: 20px;
          font-size: 13px !important;
          margin-right: 4px;
        }

        p {
          //font-size: 14px !important;
        }

      }
    }
  }
  .faq-section {
    .accordion-item {
      .accordion-button {
        h5 {
          font-size: 18px !important;
        }
      }
    }
  }
  .footer {
    .info-pages {
      p {
        //font-size: 14px;
      }
    }

    .information {
      h3 {
        font-size: 22px !important;
      }

      p {
        //font-size: 14px;
      }

      .email-phone {
        //font-size: 14px;
      }
    }
  }
  .contact-us-section {
    .contact-form {
      .contact-col {
        p {
          font-size: 16px;
        }
      }
    }

  }
}

@media screen and (max-width: 385px) {
  .header-row {
    .logo-img {
      max-width: 110px;
      width: 100%;
    }


    button {
      font-size: 14px !important;
    }

  }
  .calculation-section {
    .cart {
      order: 2; /* Change the order of the column (move it to the first position) */
      .calculation-banner {
        margin: 0 auto;
        max-width: 300px;

        img {
          position: absolute;
          max-width: 100%;
        }

        .buttons {
          top: 2px;
          left: 22px;

          .custom-button {
            //max-width: 50px;
            max-width: 75px;
            height: 17px;

            .button-area {
              p {
                font-size: 8px;
              }
            }
          }
        }

        .custom-row-form {
          padding: 6px 20px;
          gap: 10px;

          .change-img {
            top: 48%;
            max-width: 44px;
          }

          .form-section {
            .form-label {
              font-size: 8px;
              margin-bottom: 0;

            }

            .short-text {
              width: 100px;
              height: 22px;
            }

            .form-main {
              .long-text {
                width: 160px;
                height: 34px;
              }

              .circular-skeleton {
                right: 21%;
              }

              input {
                //font-size: 8px !important;
                padding: calc(6px + 4 * (100vw - 320px) / 1600) calc(12px + 12 * (100vw - 320px) / 1600);

                &::placeholder {
                  //font-size: 8px !important;
                }
              }

              .country-option {
                min-height: 28px !important;

                img {
                  max-height: 28px !important;
                }
              }
            }
          }
        }

        .custom-single-button {
          max-width: 117px;
          height: 17px;
          top: 144px;

          .button-area {
            h5 {
              font-size: 10px !important;
            }
          }
        }
      }
    }
  }
  .exchange-steps-section {


    .line-text-section {

      .line-text {

        p {
          font-size: 12px !important;
        }
      }
    }
  }
}