
.container {
  text-align: center;
}

$light-gray: #9B9B9B;
$yellow-project: #FFE500;
$black-project: #2B2B2B;
$light-white: rgba(244, 244, 244, 0.8);
.header-row {
  .header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    p {
      color: #59595B;
      //font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 0.16px;
    }


  }

  img {
    display: flex;
    justify-content: start;
  }

  .header-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    .login {
      padding: 8px 24px;
      border-radius: 16px;
      background-color: transparent;
      color: #59595B;
      font-size: 16px;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 0.16px;
      text-transform: capitalize;
    }

    .register {
      padding: 8px 24px;
      border-radius: 16px;
      background-color: #E8BA4E;
      color: #FFF;
      font-size: 16px;
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 0.16px;
      text-transform: capitalize;
    }
  }


}


.calculation-section {
  background-image: url(/assets/images/backgroundbitcoin.png);
  background-size: 100%;
  //background-position: center;
  background-repeat: no-repeat;
  display: block;
  padding-top: 98px;
  background-color: $black-project;
  //height: 800px;


  .calculation-banner {
    position: relative;

    img {
      position: absolute;
      max-width: 648px;
      width: 100%;
      left: 0;
    }

    .buttons {
      display: flex;
      position: relative;
      left: 48px;
      top: 4px;

      .center-div {
        border-right: 1px solid #3F3F3F;
        border-left: 1px solid #3F3F3F;
      }

      .custom-button {
        max-width: 104px;
        width: 100%;
        height: 32px;
        overflow: hidden;
        position: relative;

        .left-button-area {
          transform: skewX(-45deg);
          transform-origin: bottom left;

          //h5 {
          //  font-size: 18px;
          //  color: black !important;
          //}

          p {
            transform: skewX(45deg);
          }
        }

        .right-button-area {
          transform: skewX(45deg);
          transform-origin: bottom left;

          p {
            transform: skewX(-45deg);
          }

        }

        .button-area {
          width: 100%;
          height: 100%;
          background-color: $light-gray;
          position: absolute;
          overflow: hidden;
          cursor: pointer;
          align-items: center;
          display: flex;
          justify-content: center;

          &:hover {
            background-color: $yellow-project;
          }


          p {
            font-weight: 700;
            color: black;
          }

        }
      }
    }

    .custom-row-form {
      padding: 30px 70px;
      position: relative;
      display: grid;
      gap: 32px;

      .form-section {
        .form-label {
          display: flex;
          margin-left: calc(12px + 12 * (100vw - 320px) / 1600);
          margin-bottom: 12px;
          color: white;
          font-size: 18px;
          font-weight: 400;
        }

        .form-main {
          display: flex;

          svg {
            font-size: 20px;
            color: white;
            margin-right: 4px;
          }


          input::-webkit-outer-spin-button,
          input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }

          /* Firefox */
          input[type=number] {
            -moz-appearance: textfield;
          }

          .form-control-custom {
            max-width: 380px;
            width: 100%;
            background-color: #282828;
            border-radius: 16px;
            border: none;
            padding: calc(8px + 4 * (100vw - 320px) / 1600) calc(12px + 12 * (100vw - 320px) / 1600);

            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
              color: rgba(244, 244, 244, 0.8);
              opacity: 1; /* Firefox */
            }

            &:-ms-input-placeholder { /* Internet Explorer 10-11 */
              color: $light-white;
            }

            &::-ms-input-placeholder { /* Microsoft Edge */
              color: $light-white;
            }

          }

          input, select, textarea {
            color: $light-white;
          }
        }
      }
    }

    input::placeholder {
      font-size: 18px;
      font-weight: 400;
    }

    .custom-single-button {
      position: absolute;
      max-width: 252px;
      width: 100%;
      height: 38px;
      top: 307px;
      right: 2.5%;

      .button-area {
        background-color: $yellow-project;
        position: absolute;
        overflow: hidden;
        cursor: pointer;
        transform: skewX(-45deg);
        align-items: center;
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100%;

        h5 {
          transform: skewX(45deg);
          font-weight: 700;
          font-family: "Titillium Web";
          color: black !important;
          font-size: 18px !important;
        }
      }
    }
  }

  .crypto-title-section {
    //max-width: 420px;
    padding: 10px;

    h2 {
      font-weight: 700;
      font-family: "Montserrat Alternates";
      font-style: normal;
      line-height: 111.6%;
      letter-spacing: 0.54px;
      margin-bottom: 14px;

      span {
        color: $yellow-project;
      }
    }

    h5 {
      color: $light-white !important;
      text-align: left;
      font-size: 18px !important;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
      letter-spacing: 0.18px;
    }
  }

  .icons-info {
    margin-top: 100px;
    padding: 80px 0;

    h4 {
      font-family: Titillium Web;
      line-height: 42px;
    }

    p {
      text-align: center;
      font-weight: 600;
      line-height: 20px;
      margin: 0 auto;
      max-width: 276px;
    }
  }
}

.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 648px;
  width: 100%;
  background-color: #3F3F3F;
  border: 2px solid #000;
  padding: 40px;
  border-radius: 16px;

  .close-button {
    color: white;
    min-width: 0;
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0;

    &:hover {
      color: rgba(255, 255, 255, 0.5);
      background-color: transparent;
    }
  }

  h4 {
    font-family: "Montserrat";
    font-weight: 700 !important;
    line-height: normal;
    letter-spacing: 0.28px;
    padding-bottom: 16px;
    border-bottom: 1px solid $yellow-project;
    margin-bottom: 16px !important;
  }

  .modal-desc {
    //padding-bottom: 48px;
    font-size: 14px;
    font-family: "Montserrat";
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.14px;
    color: #D3D3D3;
  }

  .modal-exchange-button {
    width: 100%;
    padding: 12px 24px;
    border-radius: 16px;
    background-color: #292929;
    //background-color: $yellow-project;
    color: #C9C9C9;
    font-size: 20px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.2px;
    //color: black;
  }

  .active {
    background-color: $yellow-project;
    color: black;
  }

  .form {
    padding: 24px 0;

    .form-row {
      gap: 10px 0;

      label {
        color: #D3D3D3 !important;
      }

      .modal-input {
        padding: 12px 24px;
        border-radius: 16px;
        background-color: #292929;
        color: #D3D3D3;
        border: none;

        &:focus {
          box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.1);
        }

        &::placeholder {
          color: #D3D3D3;
        }
      }
    }
  }

}

.exchange-steps-section {
  background-image: url(/assets/images/1.png);
  background-size: contain;
  //background-position: center;
  background-repeat: no-repeat;
  display: block;
  padding: 80px 0;
  background-color: $black-project;

  .line-section {
    display: flex;
    justify-content: center;
    align-items: center;

    .dot {
      height: 16px;
      max-width: 16px;
      width: 100%;
      background-color: $yellow-project;
      border-radius: 50%;
      display: inline-block;
    }

    .long-line {
      max-width: 376px;
      width: 100%;
      height: 12px;

    }

    .yellow {
      background-color: rgba(255, 229, 0, 0.5);
      box-shadow: -5px 0px 0px 0px rgba(255, 229, 0, 0.5), 5px 0px 0px 0px rgba(255, 229, 0, 0.5);
    }

    .gray {
      background-color: rgba(245, 245, 245, 0.5);
      box-shadow: -5px 0px 0px 0px rgba(245, 245, 245, 0.5), 5px 0px 0px 0px rgba(245, 245, 245, 0.5);
    }

    div:last-child {
      background-color: white;
      border: 3px solid $yellow-project;
    }
  }

  h3 {
    //text-align: left;
    font-family: Titillium Web;
    line-height: 70px;

    span {
      color: $yellow-project;
    }
  }

  .line-text-section {
    display: flex;
    //justify-content: center;
    padding: 30px 52px;

    .line-text {
      display: flex;
      max-width: 392px;
      width: 100%;

      .dot {
        height: 25px;
        max-width: 25px;
        width: 100%;
        background-color: #F5F5F5;
        border-radius: 50%;
        display: inline-block;
        margin-right: 8px;
        font-family: "Titillium Web";
        font-weight: 700;
        font-size: 16px;
      }
    }
  }

  .slider-coins {
    display: flex !important;
    flex-direction: column;
    align-items: center;

    img {
      max-width: 80px;
      width: 100%;
      margin-bottom: 24px;
    }

    h5 {
      margin-bottom: 12px !important;
    }
  }

  .slick-prev:before {
    content: '<' !important;
    font-family: monospace;
    font-size: 30px;
    color: $yellow-project;
  }

  .slick-next:before {
    content: '>' !important;
    font-family: monospace;
    font-size: 30px;
    color: $yellow-project;
  }

  .simply {
    h3 {
      font-family: "Montserrat Alternates";
      font-weight: 700 !important;
      margin-bottom: 72px !important;

      span {
        color: $yellow-project;
      }
    }
  }
}

.faq-section {
  background-color: $black-project;
  padding-bottom: 80px;

  .accordion-item {
    background-color: transparent;
    border: none;

    .accordion-button {
      background-color: transparent;
      padding: 24px 0;
      border-radius: 0 !important;

      &:focus {
        border-color: $yellow-project;
        box-shadow: none;
      }

      &::after {
        background-image: url(/assets/images/accordionButton.svg);
      }

      &:not(.collapsed) {
        background-color: transparent;

        &::after {
          background-image: url(/assets/images/accordionButton.svg);
        }
      }

      border-bottom: 2px solid $yellow-project;

      h5 {
        font-family: "Titillium Web";
        font-weight: 700;
      }
    }
  }

  h3 {
    color: $yellow-project !important;
    margin-bottom: 24px !important;
  }

  .accordion-collapse {
    background-color: transparent;
  }
}

.partners-section {
  background-image: url(/assets/images/2.png);
  background-size: cover;
  //background-position: center;
  background-repeat: no-repeat;
  display: block;
  padding: 100px 0;
  background-color: $black-project;

  h3 {
    margin-bottom: 36px !important;

    span {
      color: $yellow-project;
    }
  }

  .slider-partners {
    img {
      margin: 0 auto;
    }
  }
}

.footer {
  background-color: $black-project;
  padding: 40px 0;

  .footer-logos-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
  }

  .info-pages {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;

    p {
      font-size: 18px;
      line-height: 174%;
      letter-spacing: 0.2px;
    }
  }

  .information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    h4 {
      font-size: 36px !important;
      text-align: left;
      color: $yellow-project !important;
    }

    p {
      font-size: 18px;
      letter-spacing: 0.2px;
      font-weight: 700;
      color: white;
      margin-bottom: 4px !important;

      span {
        color: $yellow-project;
      }
    }

    .email-phone {
      text-align: left;
      font-size: 18px;
      letter-spacing: 0.2px;
      font-weight: 700;
      color: white;

      a {
        color: white;
        text-decoration: none !important;

        &:hover {
          color: $yellow-project;
        }
      }
    }
  }
}

.single-partners-section {
  background-image: url(/assets/images/backgroundbitcoin.png);
  background-size: 100%;
  //background-position: center;
  background-repeat: no-repeat;
  display: block;
  padding-top: 60px;
  background-color: $black-project;

  .partners-main-div {
    border-radius: 10px;
    border: 4px solid #3F3F3F;
    background: #4F4F4F;
    padding: 40px;
    gap: 16px;
    display: grid;
    justify-content: center;
    //height: 100px;
    p {
      //text-align: center;
      height: 50px;
      margin: 0 auto;
    }

    .partners-img-div {
      min-height: 56px;

      img {
        max-height: 56px;
        margin: 0 auto;
      }
    }

  }
}

.button-partners {
  //display: flex;
  padding: 8px 24px;
  max-width: 156px;
  width: 100%;
  border-radius: 16px;
  background-color: $yellow-project;
  font-size: 16px;
  font-family: "Montserrat";
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.16px;
  margin: 0 auto;
}

.gallery-section {
  background-image: url(/assets/images/1.png);
  background-size: contain;
  //background-position: center;
  background-repeat: no-repeat;
  display: block;
  padding: 92px 0 130px 0;
  background-color: $black-project;

  h3 {
    color: $yellow-project !important;
    text-align: center;
    padding-bottom: 32px;
  }

  .gallery-img {
    min-height: 460px;

    img {
      max-height: 460px;
      width: 100%;
    }
  }
}

.icons-gallery {
  background-image: url(/assets/images/2.png);
  background-size: cover;
  //background-position: center;
  background-repeat: no-repeat;
  display: block;
  background-color: $black-project;
  padding-bottom: 130px;
}

.language-section {
  display: flex;
  justify-content: end;


  .css-aoxytf-singleValue {
    .country-option {
      p {
        display: none;
      }
      img{
        width: 100%;
      }
    }
  }
}

.css-1u9des2-indicatorSeparator {
  display: none;
}

.form-main {
  .css-aoxytf-singleValue {
    .country-option {
      //p {
      //  display: none;
      //}
      //img {
      //  display: none;
      //}
    }
  }
}

.contact-us-section {
  background-image: url(/assets/images/backgroundbitcoin.png);
  background-size: 100%;
  //background-position: center;
  background-repeat: no-repeat;
  display: block;
  padding-top: 92px;

  h3 {
    color: $yellow-project !important;
    text-align: center;
    padding-bottom: 32px;
    font-family: Titillium Web;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.48px;
  }

  h4 {
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.28px;

    a {
      color: white;

      &:hover {
        color:$yellow-project;
      }
    }
  }

  .contact-form {
    padding: 64px 0;

    .contact-col {
      text-align: left;

      p {
        color: #FFFFFF;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.24px;
      }

      input {
        background-color: transparent;
        border: none;
        border-radius: 0;
        border-bottom: 1px solid #FFFFFF;
        color: #FFFFFF;

        &:focus {
          box-shadow: none;
        }
      }
    }
  }

  .contact-button {
    display: flex;
    justify-content: end;

    button {
      background-color: $yellow-project;
      color: $black-project;
      max-width: 220px;
      width: 100%;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.2px;
      border-radius: 16px;
      padding: 12px 0;
    }
  }
}

.faq-single {
  background-image: url(/assets/images/1.png);
  background-size: 100%;
  //background-position: center;
  background-repeat: no-repeat;
  display: block;
  padding: 92px 0 130px 0;
}